/* Resetando os estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
}

header {
    background-color: #aa061c;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 3rem;
}

header p {
    font-size: 1.2rem;
}

#moda-tendencias {
    padding: 20px;
    text-align: center;
}

#moda-tendencias h2 {
    font-size: 2rem;
    color: #ff4081;
    margin-bottom: 20px;
}

#moda-tendencias p {
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.tendencias {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.tendencia {
    width: 250px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(105, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
}

.tendencia:hover {
    transform: scale(1.05);
}

.tendencia img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #ff4081;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 30px;
}

button:hover {
    background-color: #e91e63;
}

footer {
    background-color: #ff4081;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
